YEAR_TAKEN=2016
PHOTOGRAPHER="Mike Wilson"
LOCATION="Uknown"
IMGSRC=service.png
ALT="Luminous box with the word service on it in block capitals."
BLOG_TITLE="A simple Erlang application."
BLOG_POST="../2016-11-09_a_simple_erlang_application.html"
SOURCE=https://unsplash.com/@mkwlsn?photo=2zLEAIZi92M
CAMERA="Canon EOS 6D @ 102mm, ISO 200, 6, f/6.34"
