tmp
www.tgz
*.beam
*.swp
src/work
src/info.feedheader
www/*.html
.DS_Store

www/img
www/imginfo
src/img/work

www/feed.rss
www/haskell.rss
www/elm.rss
www/sitemap.xml
t
*.aux
*.log
t.*

sandbox/erd/cqrs.db
sandbox/erd/cqrs.pdf
sandbox/erd/oop.db
sandbox/prometheus/data/
ebin
sandbox/prometheus/notes.error1.txt
sandbox/prometheus/prome.1.script
*.bak
sandbox/utf8web/utf8.txt
sandbox/json/lib/
.stack-work
_cache
_site
.idea
