pre>code {
  font-size: 7px;
  width: 90%;
  white-space: pre-wrap;
}

@media (min-width: 473px) { pre>code {font-size: 8px; } }
@media (min-width: 532px) { pre>code {font-size: 9px; } }
@media (min-width: 591px) { pre>code {font-size: 10px; } }
@media (min-width: 651px) { pre>code {font-size: 11px; } }
@media (min-width: 710px) { pre>code {font-size: 12px; } }
@media (min-width: 769px) { pre>code {font-size: 13px; } }
@media (min-width: 828px) { pre>code {font-size: 14px; } }
@media (min-width: 887px) { pre>code {font-size: 15px; } }
@media (min-width: 1020px) { pre>code { font-size: 0.9rem; } }
